.profile {
  margin-top: $margin-primary;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
.profile .profile-content {
  width: 100%;
  margin: 0 $margin-l-0 0 0;
}
.profile .profile-content .profile-title {
  margin-top: 0;
  margin-bottom: $margin-m-0;
}
.profile .profile-content .profile-subtitle {
  margin-top: 0;
  margin-bottom: $margin-m-0;
}
.profile .profile-content .profile-body {
  margin-top: 0;
  margin-bottom: $margin-l-1;
}
.profile .profile-links {
  text-align: center;
  margin-top: $margin-m-1;
}
.profile .profile-links .profile-link {
  margin-top: 0;
  margin-bottom: $margin-m-1;
  text-align: center;
  font-size: 50px;
}
.profile .profile-image {
  align-items: center;
  width: 50%;
}
.profile .profile-icons {
  text-align: center;
  margin-top: $margin-m-1;
}
.profile .profile-icons > a:not(:last-child) {
  margin-right: 0.5rem;
}
.profile .profile-icons > a > i {
  font-size: 3rem;
}
.profile .span-icons {
  font-size: 24px;
  color: #ffbf00;
}
@media (max-width: 800px) {
  .profile {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
  }
  .profile .profile-content {
    width: 100%;
    margin-top: $margin-m-1;
  }
  .profile .profile-image {
    text-align: center;
    width: 100%;
  }
}
